@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.background {
    height: 2000;
    background: linear-gradient(25deg, #ffffff,#0C1729, #070608);

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

#imagem {
    border-radius: 50%;
    width: 150px;
    border: 2px solid #fcfcfc;
    position: absolute;
    left: 510px;
    bottom: 100px;
}

nav h2 {
    background: linear-gradient(45deg, #025f5f, #f4f4ff);
    background-clip: text;
    -webkit-background-clip:text;
    color: transparent;
    font-size: 60px;
    font-family: 'Satisfy', cursive;
    cursor: pointer;
    letter-spacing: 2px;
}

nav ul li {
    display: inline-block;
    padding: 10px 25px;
    list-style-type: none;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: rgb(228, 8, 199);
    transform: scale(1.2);
}

.button {
    background-color: #f1000c;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 15px;
    transition: transform .2s;
}

.button:hover {
    transform: scale(1.2);
}

.main {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50);
}

h4 {
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

h1 {
    color: #ffffff;
    margin: 20px 0px 20px;
    font-size: 80px;
}

h3 {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 50px;   
}

span {
    color: rgb(40, 212, 224);
}

.container-button form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.container-button form input:first-child {
    display: inline-block;
    width: 500px;
    padding: 12px 150px 13px 15px;
    border-radius: 30px;
    outline: none;
}

.container-button form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    background-color: #f1000c;
    color: #ffffff;
    box-shadow: 0px 0px 15px #858585;
    left: 395px;
    top: 4px;
    font-size: 15px;
    font-weight: bold;
}

.container-button form input::placeholder {
    font-size: 15px;
    font-weight: bold;
}
